<div class="container-fluid mt-4 mb-4">
    <div class="row">
      <div class="col-12 col-md-3 mb-4 mb-md-0">
        <div class="sidebar">
          <div class="homecard">
            <i class="fa fa-graduation-cap" aria-hidden="true">   Kindergardens</i>
          </div>

          <br>
          <br>
          <br>
          <div class="btn-group-vertical w-100" role="group" aria-label="Filter buttons">
            <button class="btn btn-primary" (click)="toggleKindergardens()">{{ showKinderdenButtonText }}</button>
            <button class="btn btn-primary" [routerLink]="['/']">Back</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div leaflet style="height: 500px;" [leafletOptions]="options" class="map" (leafletMapReady)="onMapReady($event)"></div>
      </div>
    </div>
  </div>
  
