.homecard {
    background: rgba(65, 159, 36, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: #100f0f;
  }
  
  .homecard i {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .homecard p {
    margin: 0;
    padding: 5px 0;
  }