html, body {
    height: 100%;
    background-color: #D6EAF8!important; /* Add your desired background color here */
  }
  
  body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1; /* Ensure the container takes available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
