<footer class="footer mt-auto py-3">
      <div class="row m-5">
        <div class="col-md-4">
          <h3>Contact</h3>
          <p>
            Imamul Ahsan
            <br>
            Masters student in TU Chemnitz
          </p>
        </div>
        <div class="col-md-4">
          <h3>Quick Links</h3>
          <ul class="list-unstyled">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/schools">Schools</a></li>
            <li><a routerLink="/kindergarten">Kindergarten</a></li>
            <li><a routerLink="/social-child-projects">Social Child Projects</a></li>
            <li><a routerLink="/social-teenager-projects">Social Teenager Projects</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Follow</h3>
          <a href="https://www.facebook.com/gunners808/" target="_blank" class="me-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="me-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="me-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/imamulahsan/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 Imamul Ahsan.</p>
      </div>
    
  </footer>
